@page "/demoauthor"
@using System.Reflection.Metadata;
@using Microsoft.CodeAnalysis;
@using System.Reflection;
@using Microsoft.CST.OAT.VehicleDemo;
@inject NavigationManager NavigationManager;
@inject Microsoft.CST.OAT.Blazor.AppState AppState;

<br />
<button @onclick="AddRule">Add Rule</button>
<button @onclick="RemoveLastRule">Remove Last Rule</button>
<button @onclick="ValidateRules">Validate Rules</button>
<br />
@foreach (var rule in AppState.DemoRules)
{
    <div class="card">
        @foreach (var problem in issues[rule])
        {
            <div class="problem">
                <span class="oi oi-warning"></span>
                @problem.Description
            </div>
        }
        @if (issues[rule].Count() > 0) {
            <br />
        } 
        <RuleInput Rule="rule" CollapsedState="ComponentCollapsedState.Collapsed" Types="GetTypes()" />
    </div>
}

@code{
    System.Reflection.Assembly assembly = typeof(VehicleDemo.Vehicle).Assembly;
    string nameSpace = "Microsoft.CST.OAT.VehicleDemo";
    Type[] GetTypes()
    {
        return Helpers.GetTypesInNamespace(assembly, nameSpace);
    }

    Analyzer analyzer = new Analyzer(new AnalyzerOptions(true));

    protected override async Task OnInitializedAsync()
    {
        Strings.Setup();
        analyzer.SetOperation(new Microsoft.CST.OAT.VehicleDemo.OverweightOperation(analyzer));
        await UpdateAnalyzerAssemblies();
        ValidateRules();
        base.OnInitialized();
    }

    List<PortableExecutableReference> assemblies = new List<PortableExecutableReference>();

    async Task UpdateAnalyzerAssemblies()
    {
        assemblies.Clear();
        var refs = AppDomain.CurrentDomain.GetAssemblies();

        var client = new HttpClient
        {
            BaseAddress = new Uri(NavigationManager.BaseUri)
        };

        var references = new List<MetadataReference>();

        foreach (var reference in refs.Where(x => !x.IsDynamic && !string.IsNullOrWhiteSpace(x.Location)))
        {
            var stream = await client.GetStreamAsync($"_framework/_bin/{reference.Location}");
            references.Add(MetadataReference.CreateFromStream(stream));
        }

        analyzer.SetOperation(new Microsoft.CST.OAT.Operations.ScriptOperation(analyzer, assemblies));
    }

    Dictionary<Rule, IEnumerable<Violation>> issues = new Dictionary<Rule, IEnumerable<Violation>>();

    void ValidateRules()
    {
        foreach (var rule in AppState.DemoRules)
        {
            issues[rule] = analyzer.EnumerateRuleIssues(rule);
        }
    }

    void RemoveLastRule()
    {
        AppState.DemoRules.RemoveAt(AppState.DemoRules.Count - 1);
        ValidateRules();
    }

    void AddRule()
    {
        AppState.DemoRules.Add(new Rule("Rule Name Here"));
        ValidateRules();
    }
}