@page "/"
@inject Microsoft.CST.OAT.Blazor.AppState AppState;

<div>
    Object Analysis Toolkit (OAT) is a rules driven metaprogramming engine for analyzing arbitrary C# objects.
    <br />
    <br />
    Documentation is available on the <a href="https://www.github.com/microsoft/OAT/wiki" target="_blank">Github Wiki</a>.
</div>

@code{

}