@page "/"
@inject Microsoft.CST.OAT.Blazor.AppState AppState;

    <div>
        Object Analysis Toolkit (OAT) is a rules driven metaprogramming engine for analyzing arbitrary C# objects.
        <br />
        <br />
        Documentation is available on the <a href="https://www.github.com/microsoft/OAT/wiki" target="_blank">Github Wiki</a>.
        <br />
        Visit the Demo pages to test the rules and objects created in the <a href="https://www.github.com/microsoft/OAT/wiki/Walkthrough" target="_blank">Walkthrough</a>.
        <br/>
        The Author page can be used to create rules referencing assemblies you provide.
        <br/>
        The Sandbox page can be used to create objects from those assemblies to test the Authored Rules against.
        <br/>
        Running Scripts is not supported in the GUI.

    </div>

@code{

}