@using Microsoft.CST.OAT.Utils;

<div class="form-check form-check-inline ml-1">
    <input class="form-check-input" type="checkbox" id="@id" @bind="SubProperty" data-input-type="bool-input"/>
</div>

@code {
    [Parameter]
    public object? Object { get; set; }

    [Parameter]
    public string? SubPath { get; set; }

    [Parameter]
    public string id { get; set; } = string.Empty;

    public bool SubProperty
    {
        get
        {
            if (Helpers.GetValueByPropertyOrFieldName(Object, SubPath) is bool val)
            {
                return val;
            }
            return false;
        }
        set
        {
            Helpers.SetValueByPropertyOrFieldName(Object, SubPath, value);
        }
    }
}