@using Microsoft.CST.OAT.Utils;
<br/>
<tbody>
    <tr>
        <td>
            <label for="ruleLabel">Label:</label>
        </td>
        <td>
            <StringInput id="ruleLabel" Object="Rule.Clauses[Clause]" SubPath="Label" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="captureinput">Capture:</label>
        </td>
        <td>
            <BoolInput id="captureinput" Object="Rule.Clauses[Clause]" SubPath="Capture" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="operationInput">Operation:</label>
        </td>
        <td>
            <EnumInput id="operationInput" Object="Rule.Clauses[Clause]" SubPath="Operation" />
        </td>
    </tr>
    @if (Rule.Clauses[Clause].Operation == Operation.Custom)
    {
        <tr>
            <td>
                <label for="customOperationInput">CustomOperation:</label>
            </td>
            <td>
                <StringInput id="customOperationInput" Object="Rule.Clauses[Clause]" SubPath="CustomOperation" />
            </td>
        </tr>
    }
    <tr>
        <td>
            <label for="ruleArguments">Arguments:</label>
        </td>
        <td>
            <ListStringInput id="ruleArguments" Object="Rule.Clauses[Clause]" SubPath="Arguments" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="ruleData">Data:</label>
        </td>
        <td>
            <ListStringInput id="ruleData" Object="Rule.Clauses[Clause]" SubPath="Data" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="ruleDictData">Dictionary Data:</label>
        </td>
        <td>
            <ListKvpStringStringInput id="ruleDictData" Object="Rule.Clauses[Clause]" SubPath="DictData" />
        </td>
    </tr>
</tbody>
@code {
    [Parameter]
    public Rule Rule { get; set; }

    [Parameter]
    public int Clause { get; set; }
}