@using Microsoft.CST.OAT.Utils;
<select id="@id" @bind="SubProperty">
    @foreach (var e in Enum.GetValues(Helpers.GetValueByPropertyOrFieldName(Object, SubPath).GetType()))
    {
        <option value="@e">@e</option>
    }
</select>
@code {
    [Parameter]
    public object? Object { get; set; }

    [Parameter]
    public string? SubPath { get; set; }

    [Parameter]
    public string id { get; set; } = string.Empty;

    [Parameter]
    public Action? OnChange { get; set; }

    Type? type;

    protected override void OnInitialized()
    {
        type = Helpers.GetValueByPropertyOrFieldName(Object, SubPath)?.GetType();
        base.OnInitialized();
    }

    public string SubProperty
    {
        get
        {
            if (Helpers.GetValueByPropertyOrFieldName(Object, SubPath) is Enum val){
                return val.ToString();
            }
            return string.Empty;
        }
        set
        {
            if (Enum.TryParse(type,value, out object enumVal))
            {
                Helpers.SetValueByPropertyOrFieldName(Object, SubPath, enumVal);
            }
            if (OnChange != null) {
                OnChange();
            }
        }
    }
}