<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">OAT.Blazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="demoauthor">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Demo Author
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="demosandbox">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Demo Sandbox
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="author">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Author
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sandbox">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Sandbox
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
